<% if @blogpost.errors.any? %>
  <ul>
    <% @blogpost.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<table>
  <%= form_for(@blogpost) do |form| %>
    <tr><th>Title</th>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr><th>Read</th>
      <td><%= form.text_field :read %></td>
    </tr>
    <tr><th>Content</th>
      <td><%= form.text_area :content, { cols: 40, rows: 10 } %></td>
    </tr>
    <tr><th>Genre ID</th>
      <td><%= form.text_field :bloggenre_id %></td>
    </tr>
    <tr><th></th>
      <td><%= form.submit '送信' %></td>
    </tr>
  <% end %>
</table>
<hr>
<p>※ジャンルの一覧</p>
<table>
  <tr>
    <th>Id</th><th>Genre</th>
  </tr>
  <% @bloggenres.each do |bloggenre| %>
    <tr>
      <td><%= bloggenre.id %></td>
      <td><%= bloggenre.name %></td>
    </tr>
  <% end %>
</table>
