<h1>Messages#index</h1>
<p><%= @msg %></p>
<table>
  <tr>
    <th>Id</th><th>title</th><th>person</th><th colspan='2'></th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td><%= link_to(message.title, message_path(message)) %></td>
      <td><%= message.person.name %></td>
      <td><%= link_to('Edit', edit_message_path(message)) %></td>
      <td><%= link_to('Delete', message_path(message), method: :delete, data: { confirm: "#{message.title}のデータを削除しますか？" }) %></td> 
    </tr>
  <% end %>
</table>
<p class="link"><%= link_to('※新しいデータを入力', new_message_path) %></p>
