<%= form_for(data_page) do |f| %>
  <% if data_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_page.errors.count, "error") %> prohibited this data_page from being saved:</h2>

      <ul>
      <% data_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_area :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
