<h1>People#index</h1>
<p><%= @msg %></p>
<table>
  <tr>
    <th>Id</th><th>Name</th><th colspan='2'></th>
  </tr>
  <% @data.each do |obj| %>
    <% binding.pry %>
    <tr>
      <td><%= obj.id %></td>
      <td><%= link_to("#{obj.name}", person_path(obj)) %></td>
      <td><%= link_to('Edit', edit_person_path(obj)) %></td>
      <td><%= link_to('Delete', person_path(obj), method: :delete, data: { confirm: 'このデータを削除しますか？' }) %></td>
    </tr>
  <% end %>
</table>