<h1>People#show</h1>
<p><%= @msg %></p>
<pre>
  <table>
    <tr><th>Id</th>
      <td><%= @person.id %></td>
    </tr>
    <tr><th>Name</th>
      <td><%= @person.name %></td>
    </tr>
    <tr><th>Age</th>
      <td><%= @person.age %></td>
    </tr>
    <tr><th>Mail</th>
      <td><%= @person.mail %></td>
    </tr>
    <tr><th>Message</th>
      <td><%= @person.message != nil ? @person.message.title : 'none'  %></td>
    </tr>
  </table>
</pre>