<h1>Blogconfigs#edit</h1>
<p>※ブログ設定の編集</p>
<% if @blogconfig.errors.any? %>
  <ul>
    <% @blogconfig.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<table>
  <%= form_for(@blogconfig, url:{ controller: 'blogconfigs', action: 'update' } ) do |form| %>
    <tr><th>Title</th>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr><th>Subtitle</th>
      <td><%= form.text_field :subtitle %></td>
    </tr>
    <tr><th>Style Name</th>
      <td><%= form.text_field :stylename %></td>
    </tr>
    <tr><th></th>
      <td><%= form.submit '送信' %></td>
    </tr>
  <% end %>
</table>
