<p id="notice"><%= notice %></p>

<h1>Questionaries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionaries.each do |questionary| %>
      <tr>
        <td><%= questionary.title %></td>
        <td><%= questionary.description %></td>
        <td><%= questionary.deadline %></td>
        <td><%= link_to 'Show', questionary %></td>
        <td><%= link_to 'Edit', edit_questionary_path(questionary) %></td>
        <td><%= link_to 'Destroy', questionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionary', new_questionary_path %>
