<%= form_for(questionary_result) do |f| %>
  <% if questionary_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary_result.errors.count, "error") %> prohibited this questionary_result from being saved:</h2>

      <ul>
      <% questionary_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :questionary_id %>
    <%= f.number_field :questionary_id %>
  </div>

  <div class="field">
    <%= f.label :result %>
    <%= f.text_area :result %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
